/* Button */
.button, button {
    display: inline-block;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }

  .forgot_link{
      display:inline-block;
      padding: 8px 16px;
    }

  .pic_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .login_dialog {
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .login_control {
    position: relative;
    margin: auto;
    align-items: center;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }